@model SiteHairStylist.Models.Inregistrare

@{
    ViewData["Title"] = "Create";
}

<style>
    .text-white {
        color: #FFFFFF; /* Setează culoarea textului la alb */
    }
</style>

<h1 class="text-white">Create</h1> <!-- Schimbă culoarea textului titlului la alb -->

<h4 class="text-white">Inregistrare</h4> <!-- Schimbă culoarea textului la alb -->
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label text-white"></label> <!-- Schimbă culoarea textului etichetei la alb -->
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label text-white"></label> <!-- Schimbă culoarea textului etichetei la alb -->
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label text-white"></label> <!-- Schimbă culoarea textului etichetei la alb -->
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label text-white"></label> <!-- Schimbă culoarea textului etichetei la alb -->
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="text-white">Back to List</a> <!-- Schimbă culoarea textului linkului la alb -->
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
